:root {
  --white: #ffffff;
  --slate-900: #1f314f;
  --slate-500: #68778d;
  --slate-300: #d5e1ef;

  --primary-font: "Outfit", sans-serif;

  --gap-small: 16px;
  --gap-large: 24px;
}
body {
  font-family: var(--primary-font);
  font-size: 15px;
  color: hsl(218, 44%, 22%);
  background-color: var(--slate-300);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
h2 {
  text-align: center;
  color: var(--slate-900);
}

p {
  font-size: 15px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  color: var(--slate-500);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: hsl(212, 45%, 89%);
}
.QrCode {
  padding-left: 5px;
  padding-right: 5px;
  width: 320px;
  height: 499px;
  border-radius: 3%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
}
.QrCodeImage {
  margin-top: 5px;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  body {
    font-size: 16px;
  }
}
